
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


.text h1{
    padding: 30px;
    font-family: 'Vujahday Script', cursive;
    font-size: 40pt;
}
.trending{
    position: absolute;
    top: 80%;
    left: 43%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trending a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20pt;
    background-color: rgb(81, 91, 180);
    padding: 5px;
}

.trending>a:hover{
    color: black;
}
/*Florent Reqica*/
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) {
    .home{
        background-color: rgb(199, 140, 207);
        height: 1300px;
    }

    .heading{
        
        height: 450px;
        display:block;
        flex-direction: column;
      background-color: rgb(159, 92, 190);
      
      
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .logo h1{
        font-size: 100px;
    }
   
    .menu-bar{
        display:flex;
        left: 38%;
       padding-top: 15px;
        
    }
    .menu-bar li{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 5px;
        font-size: 50px;
    }
    
    
    .text{
        top: 25%;
        left: 4%;
    } 
   
    .text h1{     
        font-size: 80pt;
    }
    .text p{
        font-size: 25pt;
    }
    .trending{
        top: 48%;
        left: 37%;
    }
    .trending a{
        font-size: 40pt;
        background-color: rgb(105, 39, 126);
        padding: 20px;
        border-radius: 15px;
    }
   
    
}